

.mentor {
    width: 310px;
    height: 320px;
    padding: 10px;
}

.img {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img img {
    width: 100%;
}

.mentor {
    /* border: 1px solid rgba(128, 128, 128, 0.486); */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.content {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameMentor {
    font-size: 20px;
    font-weight: 700;
}

.prof {
    font-style: 18px;
}

@media (max-width: 550px) {
    .mentor {
        width: 260px;
        height: 270px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .mentor {
        width: 220px;
        height: 220px;
        padding: 10px;
    }
}