@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
#root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;/* Основной */
  display: flex;
}

:root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  --sideBar-width: 260px;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}


h1, h2, h3 {
  font-family: 'Nunito', sans-serif; /* для заголовков */
}

.app_conteiner {
  margin-left: calc(var(--sideBar-width) + 20px);
  width: 100%;
}